.header {
  display: flex;
  align-items: center;
  margin: 10px;
}

.header h1 {
  margin: 0 20px;
  font-size: 18px;
}

.linha-vertical {
  width: 1px;
  height: 18px; /* Ajuste a altura conforme necessário */
  background-color: #ccc; /* Cor da linha */
  margin: 0 10px;
}
.linha-horizontal {
  border-bottom: 1px solid #ccc;
  margin: 10px 0; /* Adicione um espaçamento acima e abaixo */
}

.cliente-header {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.cliente-header svg {
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}
