.header {
  display: flex;
  align-items: center;
  margin: 10px;
}

.header h1 {
  margin: 0 20px;
  font-size: 18px;
}

.vertical-line {
  width: 1px;
  height: 18px; /* Ajuste a altura conforme necessário */
  background-color: #ccc; /* Cor da linha */
  margin: 0 10px;
}

.cliente-header {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.cliente-header svg {
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}
